# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output
*.test.ts
*.spec.ts

# IDEs and editors
.idea
.project
.vscode
.classpath
.c9/
*.launch
.settings/
.continue/
*.sublime-workspace

# misc
tmp
.cache
.github
.circle
.circleci
.npmrc
.husky
.travis.yml
.env*
*.md
.git/
.gitignore
Jenkinsfile
docker
docker-compose*.yml
