# App Configuration
APP_NAME=tgminiapp
APP_URL=http://localhost:3000

# Server Configuration
HOST=localhost
PORT=3000
ALLOW_CORS_URL=*

#Jwt Securtiy
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRATION=3d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION=30d

#Database Configuration
DB_TYPE=postgres
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=tgminiapp
DB_SSL=true

#File System Configuration
# type file_system =  "s3" | "public"
FILE_SYSTEM=s3
#20Mb
FILE_MAX_SIZE=20971520

# Proxy if packages are blocked
#
# Platform          Docker host
# Linux	            172.17.0.1 (default) or host.docker.internal with extra_hosts
# Mac	            host.docker.internal
# Windows	        host.docker.internal
# Linux (podman)	10.88.0.1
HTTP_PROXY=http://172.17.0.1:10808
HTTPS_PROXY=http://172.17.0.1:10808
NO_PROXY=localhost,127.0.0.1,.local,postgres
